.TodoList {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.TodoItem {
	min-height: 4.5rem;
	padding: .75rem;
	position: relative;
	border-radius: 3px;
	background-color: rgba(0,0,100,.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	transition: opacity var(--duration-sm);
	flex-wrap: wrap;
}

.TodoItem__body {
	flex: 1 1 100%;
	width: 100%;

	@media (min-width: @md) {
		width: auto;
		flex-basis: auto;
	}
}

.TodoItem__time {
	color: var(--minor);
	font-size: .875rem;
	white-space: nowrap;
	display: flex;
	align-items: center;
}

.TodoItem__badge {
	padding: 1px 8px 2px;
	background-color: fade(@danger, 60%);
	font-size: .75rem;
	line-height: 1;
	font-weight: 400;
	color: var(--inverse);
	border-radius: 10px;
	vertical-align: middle;
	margin-left: .25rem;
}

.TodoItem__title {
	.flowMargin;
	margin-top: .125rem;
	margin-bottom: .5rem;
	font-weight: 700;
	font-size: 1rem;
}

.TodoItem__description {
	color: var(--minor);
}

.TodoItem__files {
	list-style-type: none;
	margin-top: .5rem;
	margin-bottom: 0;
	padding-left: 0;
	font-size: .875rem;

	li {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 320px;
	}
}

.TodoItem__actions {
	display: flex;
	align-self: flex-end;
	gap: .5rem;
	flex-wrap: wrap;
}

.TodoItem.is-completed {
	background-color: fade(@success, 30%);
}

.TodoItem.is-pending {
	opacity: .55;
	pointer-events: none;
}

